## Instalação do delta

In [1]:
pip install delta-spark

Requirement already satisfied: delta-spark in /opt/conda/lib/python3.11/site-packages (3.2.0)
Requirement already satisfied: pyspark<3.6.0,>=3.5.0 in /usr/local/spark/python (from delta-spark) (3.5.0)
Requirement already satisfied: importlib-metadata>=1.0.0 in /opt/conda/lib/python3.11/site-packages (from delta-spark) (6.8.0)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.11/site-packages (from importlib-metadata>=1.0.0->delta-spark) (3.17.0)
Requirement already satisfied: py4j==0.10.9.7 in /opt/conda/lib/python3.11/site-packages (from pyspark<3.6.0,>=3.5.0->delta-spark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [29]:
# Restart Kernel
from IPython import get_ipython
 
if get_ipython():
    get_ipython().kernel.do_shutdown(restart=True)

## Início do desenvolvimento

In [10]:
import pyspark
import pyspark.sql.functions as F
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, IntegerType, DateType
from delta import *
from delta.tables import DeltaTable
import datetime

In [2]:
builder = pyspark.sql.SparkSession.builder.appName("MyApp") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")

spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [3]:
source_file_path = "/home/jovyan/work/financial_data.csv"
target_table_path = "/home/jovyan/work/delta/financial_data"
target_table_name = "financial_data"

In [4]:
'''
Carregue o arquivo financial_data.csv localizado na pasta work.
'''

df_financial_data = spark.read.options(delimiter=",", header=True).csv(source_file_path)

df_financial_data.show(100)
df_financial_data.printSchema()

+------------+--------------+-------+--------------+--------------------+
|id_transacao|data_transacao|  valor|tipo_transacao|           descricao|
+------------+--------------+-------+--------------+--------------------+
|           1|    2024-07-01|1500.45|      DEPOSITO| Depósito de Salário|
|           2|    2024-07-02|-200.32|         SAQUE|        Saque em ATM|
|           3|    2024-07-03| -50.67|     PAGAMENTO|           Cafeteria|
|           4|    2024-07-03|2000.78| TRANSFERENCIA|Transferência par...|
|           5|    2024-07-04|-100.25|     PAGAMENTO|        Supermercado|
|           6|    2024-07-04| -30.12|     PAGAMENTO|  Transporte Público|
|           7|    2024-07-05|2500.89|      DEPOSITO| Pagamento Freelance|
|           8|    2024-07-06|-300.55|         SAQUE|        Saque em ATM|
|           9|    2024-07-07| -20.30|     PAGAMENTO|   Assinatura Online|
|          10|    2024-07-07| 500.40|      DEPOSITO|Retorno de Invest...|
|          11|    2024-07-08|3200.99|      DEPOSITO|             Salário|
|          12|    2024-07-09|-450.23|     PAGAMENTO|             Aluguel|
|          13|    2024-07-10| -75.35|     PAGAMENTO|            Academia|
|          14|    2024-07-11|-120.50|     PAGAMENTO|         Restaurante|
|          15|    2024-07-12|1800.75| TRANSFERENCIA|Transferência de ...|
|          16|    2024-07-13| 300.10|      DEPOSITO|           Reembolso|
|          17|    2024-07-14| -60.55|     PAGAMENTO|                Uber|
|          18|    2024-07-15| 750.90| TRANSFERENCIA|Transferência par...|
|          19|    2024-07-16| -15.45|     PAGAMENTO|                Café|
|          20|    2024-07-17|1000.65|      DEPOSITO|               Bônus|
|          21|    2024-07-18|-200.90|         SAQUE|        Saque em ATM|
|          22|    2024-07-19|2200.80| TRANSFERENCIA|Transferência par...|
|          23|    2024-07-20| -85.75|     PAGAMENTO|        Supermercado|
|          24|    2024-07-21|-300.20|     PAGAMENTO|          Luz e Água|
|          25|    2024-07-22| 250.40|      DEPOSITO|           Reembolso|
|          26|    2024-07-23|-150.60|     PAGAMENTO|            Telefone|
|          27|    2024-07-24| -45.30|     PAGAMENTO|              Cinema|
|          28|    2024-07-25|2000.10| TRANSFERENCIA|Transferência de ...|
|          29|    2024-07-26| -95.90|     PAGAMENTO|         Restaurante|
|          30|    2024-07-27|2750.75|      DEPOSITO|             Salário|
|          31|    2024-07-28|-350.60|     PAGAMENTO|             Aluguel|
|          32|    2024-07-29| -80.20|     PAGAMENTO|        Supermercado|
|          33|    2024-07-30| -25.40|     PAGAMENTO|  Transporte Público|
|          34|    2024-08-01|1600.95|      DEPOSITO| Depósito de Salário|
|          35|    2024-08-02|-210.80|         SAQUE|        Saque em ATM|
|          36|    2024-08-03| -55.50|     PAGAMENTO|           Cafeteria|
|          37|    2024-08-03|2150.60| TRANSFERENCIA|Transferência par...|
|          38|    2024-08-04|-110.30|     PAGAMENTO|        Supermercado|
|          39|    2024-08-04| -35.20|     PAGAMENTO|  Transporte Público|
|          40|    2024-08-05|2650.40|      DEPOSITO| Pagamento Freelance|
|          41|    2024-08-06|-310.70|         SAQUE|        Saque em ATM|
|          42|    2024-08-07| -25.90|     PAGAMENTO|   Assinatura Online|
|          43|    2024-08-07| 510.20|      DEPOSITO|Retorno de Invest...|
|          44|    2024-08-08|3300.75|      DEPOSITO|         Bônus Anual|
|          45|    2024-08-08|-155.40|     PAGAMENTO|         Restaurante|
|          46|    2024-08-09| 820.75| TRANSFERENCIA|Transferência da ...|
|          47|    2024-08-09|-220.22|     PAGAMENTO|              Cinema|
|          48|    2024-08-10|1350.45|      DEPOSITO|    Reembolso Médico|
|          49|    2024-08-11|-200.30|     PAGAMENTO|         Combustível|
|          50|    2024-08-12| 500.85|      DEPOSITO|    Prêmio de Seguro|
+------------+--------------+-------+--------------+--------------------+

root
 |-- id_transacao: string (nullable = true)
 |-- data_transacao: string (nullable = true)
 |-- valor: string (nullable = true)
 |-- tipo_transacao: string (nullable = true)
 |-- descricao: string (nullable = true)

In [5]:
'''
. Converta a coluna "valor" para o tipo de dados double.
. Filtre as transações com valor acima de 1000.
'''

df_financial_data_treated = (
    df_financial_data
        .withColumn("valor", F.col("valor").cast("double"))
        .withColumn("id_transacao", F.col("id_transacao").cast("int"))  # formato ideal
        .withColumn("data_transacao", F.col("data_transacao").cast("date")) # formato ideal
        .filter("valor > 1000")
)

df_financial_data_treated.show()
print(f"count: {df_financial_data_treated.count()}")
df_financial_data_treated.printSchema()

+------------+--------------+-------+--------------+--------------------+
|id_transacao|data_transacao|  valor|tipo_transacao|           descricao|
+------------+--------------+-------+--------------+--------------------+
|           1|    2024-07-01|1500.45|      DEPOSITO| Depósito de Salário|
|           4|    2024-07-03|2000.78| TRANSFERENCIA|Transferência par...|
|           7|    2024-07-05|2500.89|      DEPOSITO| Pagamento Freelance|
|          11|    2024-07-08|3200.99|      DEPOSITO|             Salário|
|          15|    2024-07-12|1800.75| TRANSFERENCIA|Transferência de ...|
|          20|    2024-07-17|1000.65|      DEPOSITO|               Bônus|
|          22|    2024-07-19| 2200.8| TRANSFERENCIA|Transferência par...|
|          28|    2024-07-25| 2000.1| TRANSFERENCIA|Transferência de ...|
|          30|    2024-07-27|2750.75|      DEPOSITO|             Salário|
|          34|    2024-08-01|1600.95|      DEPOSITO| Depósito de Salário|
|          37|    2024-08-03| 2150.6| TRANSFERENCIA|Transferência par...|
|          40|    2024-08-05| 2650.4|      DEPOSITO| Pagamento Freelance|
|          44|    2024-08-08|3300.75|      DEPOSITO|         Bônus Anual|
|          48|    2024-08-10|1350.45|      DEPOSITO|    Reembolso Médico|
+------------+--------------+-------+--------------+--------------------+

count: 14
root
 |-- id_transacao: integer (nullable = true)
 |-- data_transacao: date (nullable = true)
 |-- valor: double (nullable = true)
 |-- tipo_transacao: string (nullable = true)
 |-- descricao: string (nullable = true)

In [6]:
'''
. Salve os dados filtrados em um Delta Lake, particionados pela data da transação, no diretório /home/jovyan/work/delta/financial_data
. Crie uma delta table chamada financial_data a partir dos dados salvos.
'''

df_financial_data_treated.write.format("delta").mode("overwrite").partitionBy("data_transacao").save(target_table_path)
spark.sql(f"CREATE TABLE IF NOT EXISTS {target_table_name} USING DELTA LOCATION '{target_table_path}'")

## ou
# df_financial_data_treated.write.format("delta").mode("overwrite").partitionBy("data_transacao").option("path", target_table_path).saveAsTable(target_table_name)

# print
spark.sql(f"SELECT * FROM {target_table_name}").show()

+------------+--------------+-------+--------------+--------------------+
|id_transacao|data_transacao|  valor|tipo_transacao|           descricao|
+------------+--------------+-------+--------------+--------------------+
|          28|    2024-07-25| 2000.1| TRANSFERENCIA|Transferência de ...|
|          37|    2024-08-03| 2150.6| TRANSFERENCIA|Transferência par...|
|           4|    2024-07-03|2000.78| TRANSFERENCIA|Transferência par...|
|          22|    2024-07-19| 2200.8| TRANSFERENCIA|Transferência par...|
|          15|    2024-07-12|1800.75| TRANSFERENCIA|Transferência de ...|
|          34|    2024-08-01|1600.95|      DEPOSITO| Depósito de Salário|
|           1|    2024-07-01|1500.45|      DEPOSITO| Depósito de Salário|
|          40|    2024-08-05| 2650.4|      DEPOSITO| Pagamento Freelance|
|           7|    2024-07-05|2500.89|      DEPOSITO| Pagamento Freelance|
|          48|    2024-08-10|1350.45|      DEPOSITO|    Reembolso Médico|
|          44|    2024-08-08|3300.75|      DEPOSITO|         Bônus Anual|
|          11|    2024-07-08|3200.99|      DEPOSITO|             Salário|
|          30|    2024-07-27|2750.75|      DEPOSITO|             Salário|
|          20|    2024-07-17|1000.65|      DEPOSITO|               Bônus|
+------------+--------------+-------+--------------+--------------------+

In [7]:
'''
Realize uma consulta para selecionar todas as transações com valor acima de 2000.
'''

spark.sql(f"SELECT * FROM {target_table_name} WHERE valor > 2000").show()

# ou
# df_delta_financial_data = spark.read.table(target_table_name)
# df_delta_financial_data.filter("valor > 2000").show()

+------------+--------------+-------+--------------+--------------------+
|id_transacao|data_transacao|  valor|tipo_transacao|           descricao|
+------------+--------------+-------+--------------+--------------------+
|          28|    2024-07-25| 2000.1| TRANSFERENCIA|Transferência de ...|
|          37|    2024-08-03| 2150.6| TRANSFERENCIA|Transferência par...|
|           4|    2024-07-03|2000.78| TRANSFERENCIA|Transferência par...|
|          22|    2024-07-19| 2200.8| TRANSFERENCIA|Transferência par...|
|          40|    2024-08-05| 2650.4|      DEPOSITO| Pagamento Freelance|
|           7|    2024-07-05|2500.89|      DEPOSITO| Pagamento Freelance|
|          44|    2024-08-08|3300.75|      DEPOSITO|         Bônus Anual|
|          11|    2024-07-08|3200.99|      DEPOSITO|             Salário|
|          30|    2024-07-27|2750.75|      DEPOSITO|             Salário|
+------------+--------------+-------+--------------+--------------------+

In [8]:
'''
Exiba o histórico de versões da delta table.
'''

spark.sql(f"DESCRIBE HISTORY {target_table_name}").show()

+-------+--------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+--------------------+
|version|           timestamp|userId|userName|operation| operationParameters| job|notebook|clusterId|readVersion|isolationLevel|isBlindAppend|    operationMetrics|userMetadata|          engineInfo|
+-------+--------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+--------------------+
|      0|2024-08-01 21:05:...|  NULL|    NULL|    WRITE|{mode -> Overwrit...|NULL|    NULL|     NULL|       NULL|  Serializable|        false|{numFiles -> 14, ...|        NULL|Apache-Spark/3.5....|
+-------+--------------------+------+--------+---------+--------------------+----+--------+---------+-----------+--------------+-------------+--------------------+------------+--------------------+

In [11]:
'''
Adicione os seguintes novos dados à tabela Delta:

- id_transacao: 11, data_transacao: '2024-07-08', valor: 3000.95, tipo_transacao: 'DEPOSITO', descricao: 'Bônus Anual'
- id_transacao: 12, data_transacao: '2024-07-08', valor: -150.40, tipo_transacao: 'PAGAMENTO', descricao: 'Restaurante'
- id_transacao: 13, data_transacao: '2024-07-09', valor: 800.75, tipo_transacao: 'TRANSFERENCIA', descricao: 'Transferência da Conta Corrente'
- id_transacao: 14, data_transacao: '2024-07-09', valor: -200.22, tipo_transacao: 'PAGAMENTO', descricao: 'Cinema'
'''

data = [
    (11, datetime.datetime.strptime('2024-07-08', "%Y-%m-%d").date(), 3000.95, 'DEPOSITO', 'Bônus Anual'),
    (12, datetime.datetime.strptime('2024-07-08', "%Y-%m-%d").date(), -150.40, 'PAGAMENTO', 'Restaurante'),
    (13, datetime.datetime.strptime('2024-07-09', "%Y-%m-%d").date(), 800.75, 'TRANSFERENCIA', 'Transferência da Conta Corrente'),
    (14, datetime.datetime.strptime('2024-07-09', "%Y-%m-%d").date(), -200.22, 'PAGAMENTO', 'Cinema'),
    (15, datetime.datetime.strptime('2024-07-09', "%Y-%m-%d").date(), -200.22, 'PAGAMENTO', 'Cinema'),
    (992, datetime.datetime.strptime('2024-07-09', "%Y-%m-%d").date(), -200.22, 'PAGAMENTO', 'Cinema'),
    (993, datetime.datetime.strptime('2024-07-09', "%Y-%m-%d").date(), 200.22, 'PAGAMENTO', 'Cinema')
]
schema = StructType([
    StructField("id_transacao", IntegerType(), True),
    StructField("data_transacao", DateType(), True),
    StructField("valor", DoubleType(), True),
    StructField("tipo_transacao", StringType(), True),
    StructField("descricao", StringType(), True)
])

df_new_data = spark.createDataFrame(data, schema)


''' 
    De acordo com a descrição "Adicione os seguintes novos dados à tabela Delta" a palavra 
    "Adicione" tem muitos significados, mas pelo meu entendimento é mais próxima da palavra "Acrescentar",
    ou seja, "inserir". Por isso eu priorizei o "append". Contudo, como tem um "id_transacao", 
    eu posso entender também que o objetivo seria mesclar os dados. Sendo assim, eu montei também
    o código mais abaixo que está comentado.
'''

## Se for insert... 
df_new_data.write.format("delta").mode("append").saveAsTable(target_table_name)

## Se for merge...
# delta_table_financial_data = DeltaTable.forPath(spark, target_table_path)
# (
#     delta_table_financial_data.alias("old")
#         .merge(
#             df_new_data.alias("new"),
#             "old.id_transacao = new.id_transacao"
#         )
#         .whenMatchedUpdateAll()
#         .whenNotMatchedInsertAll()
#         .execute()
# )

In [12]:
'''
Realize uma consulta para selecionar todas as transações com valor acima de 1000.
'''

spark.sql(f"""
    SELECT * 
    FROM {target_table_name} 
    WHERE valor > 1000
""").show()

+------------+--------------+-------+--------------+--------------------+
|id_transacao|data_transacao|  valor|tipo_transacao|           descricao|
+------------+--------------+-------+--------------+--------------------+
|          28|    2024-07-25| 2000.1| TRANSFERENCIA|Transferência de ...|
|          37|    2024-08-03| 2150.6| TRANSFERENCIA|Transferência par...|
|           4|    2024-07-03|2000.78| TRANSFERENCIA|Transferência par...|
|          22|    2024-07-19| 2200.8| TRANSFERENCIA|Transferência par...|
|          15|    2024-07-12|1800.75| TRANSFERENCIA|Transferência de ...|
|          34|    2024-08-01|1600.95|      DEPOSITO| Depósito de Salário|
|           1|    2024-07-01|1500.45|      DEPOSITO| Depósito de Salário|
|          40|    2024-08-05| 2650.4|      DEPOSITO| Pagamento Freelance|
|           7|    2024-07-05|2500.89|      DEPOSITO| Pagamento Freelance|
|          48|    2024-08-10|1350.45|      DEPOSITO|    Reembolso Médico|
|          11|    2024-07-08|3000.95|      DEPOSITO|         Bônus Anual|
|          44|    2024-08-08|3300.75|      DEPOSITO|         Bônus Anual|
|          11|    2024-07-08|3200.99|      DEPOSITO|             Salário|
|          30|    2024-07-27|2750.75|      DEPOSITO|             Salário|
|          20|    2024-07-17|1000.65|      DEPOSITO|               Bônus|
+------------+--------------+-------+--------------+--------------------+

In [13]:
'''
Agrupe as transações por tipo e some os valores.
'''

spark.sql(f"""
    SELECT tipo_transacao, ROUND(SUM(valor), 2) valor 
    FROM {target_table_name} 
    GROUP BY tipo_transacao
""").show()

+--------------+--------+
|tipo_transacao|   valor|
+--------------+--------+
| TRANSFERENCIA|10953.78|
|      DEPOSITO|22857.23|
|     PAGAMENTO| -550.84|
+--------------+--------+